/* .painting {
  background-color: blue;
  height: 500px;
  width: 500px;
  position: relative;
}

.canvas {
  border: "1px solid #000";
  height: 500px;
  width: 500px;
  background-color: purple;
  position: absolute;
} */

/* .container-painting {
  width: 100vh;
  height: 100vh
}


.canvas {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */