.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  
}

.Label{
  display: flex;
  justify-content: center;
  margin: 2em;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Last {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Phone {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Email{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Password {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: 55em;
}