.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  
}

.Label{
  display: flex;
  justify-content: center;
  margin: 2em;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Last {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Phone {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Email{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Password {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

