.nav-bar {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  text-decoration: none;
}

.img-logo {
  height: 120px;
  width: 90%;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.main-nav-active {
  color: #12BFEC;
}